/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <locale/keys_de.h>

#define DEFAULT   0
#define BLUE      1
#define SYMBOL	  2

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {

                        bindings = <
   &kp ESC   &kp DE_N1       &kp DE_N2     &kp DE_N3 		 &kp DE_N4       &kp DE_N5   		&kp DE_N6 &kp DE_N7  &kp DE_N8     &kp DE_N9   &kp DE_N0       &kp BSPC
   &kp TAB   &kp DE_Q        &kp DE_W      &kp DE_E          &kp DE_R        &kp DE_T   		&kp DE_Z  &kp DE_U   &kp DE_I      &kp DE_O    &kp DE_P        &kp DE_U_UMLAUT 
   &kp CAPS  &kp DE_A        &kp DE_S      &kp DE_D          &kp DE_F        &kp DE_G    		&kp DE_H  &kp DE_J   &kp DE_K      &kp DE_L    &kp DE_O_UMLAUT &kp DE_A_UMLAUT
   &kp LCTRL &kp DE_Y        &kp DE_X      &kp DE_C          &kp DE_V        &kp DE_B    		&kp DE_N  &kp DE_M   &kp DE_COMMA  &kp DE_DOT  &kp DE_UNDER    &kp ESC
                             &kp DE_CARET  &kp DE_LESS_THAN  &kp DE_SPACE    &kp LEFT_WIN       &kp DE_N  &kp DE_M   &kp DE_COMMA  &kp DE_DOT
											                 &kp LSHFT       &kp LEFT_ALT       &kp DE_N  &kp DE_M
														                     &mo BLUE           &mo SYMBOL
                        >;
                };
                lower_layer {

                        bindings = <
   &bootloader    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8   &kp N9    &kp N0 &kp BSPC
   &bt BT_CLR     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP   &kp RIGHT &trans &trans
   &trans         &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans   &trans    &trans &trans
   &trans	      &trans	   &trans       &trans       &trans       &trans         &trans   &trans   &trans   &trans    &trans &trans
						       &trans       &trans       &trans       &trans         &trans   &trans   &trans   &trans
													     &trans       &trans         &trans   &trans
															    	  &trans         &trans
                        >;
                };
				raise_layer {
 
                        bindings = <
   &trans   &trans  &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans
   &trans   &trans  &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans
   &trans   &trans  &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans
   &trans   &trans  &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans
                    &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans
									  &trans   &trans      &trans	 &trans	  
											   &trans      &trans
                        >;
                };
        };
};
